<h1>Tenant Applications</h1><br>

<%= link_to "New Application", new_tenant_application_path, :class => "btn btn-success pull-right" %>

<div class="row">
  <div class="col-md-12">
    <% @applications.each do |app| %>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default well">
              <div class="btn-group pull-right">
                <%= link_to "Edit", edit_tenant_application_path(app), :class => "btn btn-primary" %>
                <%= link_to 'Delete', tenant_application_path(app), :method => :delete, :data => {:confirm => "Are you sure you want to delete this application?"}, :class => 'btn btn-danger' %>
              </div>
              <h3><%= link_to app.name, tenant_application_path(app) %></h3>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>